<div class="container">
    <div class="row">
        <div class="dialog-window">
            <div class="intel-robot">
                <div class="header">
                    <img src="../../assets/images/robot.jpg" alt="">
                </div>
                <div class="dialog-content">
                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
            <div class="me">
                <div class="header">
                    <img src="../../assets/images/robot.jpg" alt="">
                </div>
                <div class="dialog-content">
                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
            <div class="intel-robot">
                <div class="header">
                    <img src="../../assets/images/robot.jpg" alt="">
                </div>
                <div class="dialog-content">
                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
            <div class="me">
                <div class="header">
                    <img src="../../assets/images/robot.jpg" alt="">
                </div>
                <div class="dialog-content">
                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
            <div class="intel-robot">
                <div class="header">
                    <img src="../../assets/images/robot.jpg" alt="">
                </div>
                <div class="dialog-content">
                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
            <div class="me">
                <div class="header">
                    <img src="../../assets/images/robot.jpg" alt="">
                </div>
                <div class="dialog-content">
                    啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
        </div>
        <button (click)="aaa()">555</button>
        <p *ngFor="let item of items">{{item?.text}}</p>

        <div class="input-group">
            <input type="text" class="form-control" name="contextSend" [(ngModel)]="contextValue">
            <span class="input-group-addon" (click)="contextSend(contextValue)">发送</span>
        </div>
    </div>
</div>